h1 {
	color: red;
}

#crystal1 {
	width: 100px;
	height: 100px;
}
#crystal2 {
	width: 100px;
	height: 100px;
}
#crystal3 {
	width: 100px;
	height: 100px;
}
#crystal4 {
	width: 100px;
	height: 100px;
}

