#crystal1 {
	width: 100px;
	height: 100px;
}
#crystal2 {
	width: 100px;
	height: 100px;
}
#crystal3 {
	width: 100px;
	height: 100px;
}
#crystal4 {
	width: 100px;
	height: 100px;
}
body {
	background-image: url("../images/concrete_seamless.png");
	font-family: 'Indie Flower', cursive;
}

